.is-display-1 {
    font-size: 6rem;
}

.is-display-2 {
    font-size: 5.5rem;
}

.is-display-3 {
    font-size: 4.5rem;
}

.is-display-4 {
    font-size: 3.5rem;
}

.has-shadow-small {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.has-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.is-flex-wrap {
    flex-wrap: wrap !important;
}

.is-stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}
