$palette-link: #33f1ed;
$palette-primary: #571c55;
$palette-dark: #101d2e;
$palette-light: #e9e4c5;
$background: #f4f8fb;
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Karla|Major+Mono+Display");
//$font-secondary: "Rubik Mono One", sans-serif;
$font-secondary: "Major Mono Display", monospace;
$font-primary: "Karla", sans-serif;
